/* Main Navigation */
.container_12{
			  background: url("../img/woodgrain.png");}
/*LOGO*/




#logo{background: #FC3;}

img{
	border: 10px solid black;
	padding: 10px;
	margin: 10px;
	border-radius: 100px;
	box-shadow: 10px 10px 10px pink;

}
/*Co. Name*/

#coname{background: red;}

li {
  background: 
  display: inline;
  list-style: none;
  margin: 10px 10px;
  padding: 20px 10px;
}

/*Nav*/
#nav{background: teal;}

/*Aside*/

#aside {background: }

/*Main*/

#main{background:}

a {
  color: red;
  font: 24px sans-serif bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;  
}

li:hover {
  background: blue;
  color: #fff; 
} 